<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.edu.mapper.MessageMapper">

    <resultMap type="Message" id="MessageResult">
        <result property="id" column="id"/>
        <result property="nickName" column="nickName"/>
        <result property="phoneNumber" column="phoneNumber"/>
        <result property="mail" column="mail"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="messageTime" column="messageTime"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="list" parameterType="Map" resultMap="MessageResult">
        select * from t_message
        <where>
            <if test="messageTime!=null and messageTime!='' ">
                and DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(messageTime)
            </if>

        </where>
        order by messageTime desc
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>
		
		
    <select id="listTotal" parameterType="Map" resultMap="MessageResult">
        select * from t_message
       
    </select>
		
    <select id="findById" parameterType="Integer" resultMap="MessageResult">
        select * from t_message
        where id=#{id}
    </select>


    <update id="update" parameterType="Message">
        update t_message
        <set>
            <if test="status!=null and status!='' ">
                status=#{status}
            </if>
        </set>
        where id=#{id}
    </update>

    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="Message">
        insert into t_message values(null,#{nickName},#{phoneNumber},#{mail},#{title},#{content},now(),0)
    </insert>

    <delete id="deleteById" parameterType="Integer">
        delete from t_message where id=#{id}
    </delete>

    <select id="getCount" resultType="java.lang.Long" parameterType="Map">
        select count(*) from t_message
    </select>

    </mapper>
